.bg{
    background: url("src\assets\images\ssn usa.jpg") no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.header{
    text-align: center;
    color:red;
}
.headMar{
    color: blue;
}